.card p {
    margin-top: -10px;
    margin-bottom: 1px;
}

.row .card:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.content menu1 img:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.card-deck {
    width: auto;
    height: auto;
    border-radius: 15px 20px 20px 20px;
}


/*  */

.Buttton-container .text-center button {
    border-color: #2b9c15;
    border-width: 3px;
}

.Buttton-container .text-center button {
    background-color: #2b9c15;
    border: none;
    border-radius: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin-top: 45px;
}